body{
  font-family: 'Arial';
  font-size: 12px;
  color: #131313;
  background: url(../images/bg_body.jpg);
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

/*********************
NAV
*********************/
header{
  background: black;
}

nav li{
  display: inline;
}

nav a{
  color: gray;
}
/*********************
SOCIAL MEDIA
*********************/

/*********************
BLURB
*********************/

/*********************
HOME BOXES
*********************/

/*********************
FOOTER
*********************/



